{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Explore{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'posts' %}" class="btn btn-light">Back to feeds</a>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12">
            {% if tag %}
                <h3>Explore #{{ tag.name }} posts</h3>
                <p>Most recent posts tagged with {{ tag.name }}</p>
            {% else %}
                <h3>Explore posts</h3>
                <p class="mb-3">Explore tags to find new posts </p>
            {% endif %}

            <form method="POST" class="mb-5" >
                {% csrf_token %}
                {{ exploreform | crispy }}
            </form>
        </div>
    </div>
    {% for post in posts %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            {% if post.shared_user %}
                <div>
                    <a href="{% url 'profile' post.shared_user.profile.pk %}">
                        <img src="{{ post.shared_user.profile.picture.url }}" alt="" class="rounded-circle post-img" height="30" width="30" />
                    </a>
                    <p class="lead">
                        <a href="{% url 'profile' post.shared_user.profile.pk %}" class="text-primary post-link">@{{ post.shared_user }}</a>
                        Shared post on {{ post.shared_on }}
                    </p>
                </div>
            {% else %}
                <div>
                    <a href="{% url 'profile' post.author.profile.pk %}">
                        <img src="{{ post.author.profile.picture.url }}" alt="" class="rounded-circle post-img" height="30" width="30" />
                    </a>
                    <p class="lead">
                        <a href="{% url 'profile' post.author.profile.pk %}" class="text-primary post-link">@{{ post.author }}</a>
                        {{ post.created_on }}
                        <span onclick="shareToggle('{{ post.pk }}')" ><i class="fa fa-share btn" aria-hidden="true"></i></span>
                    </p>
                </div>
            {% endif %}

            {% if post.shared_user %}
                <div class="position-relative border-bottom mb-3">
                    {% if post.shared_body %}
                    <div class="body">
                        <p class="lead"> {{ post.shared_body }} </p>
                    </div>
                    {% endif %}
                </div>
                <div class="shared-post">
                    <a href="{% url 'profile' post.author.profile.pk %}">
                        <img src="{{ post.author.profile.picture.url }}" alt="" class="rounded-circle post-img" height="30" width="30" />
                    </a>
                    <p class="lead">
                        <a href="{% url 'profile' post.author.profile.pk %}" class="text-primary post-link">@{{ post.author }}</a>
                        {{ post.created_on }}
                    </p>
                    <a href="{% url 'post' post.pk %}" class="stretched-link">
                        {% if post.body %}
                        <div class="body">
                            <p class="lead"> {{ post.body }} </p>
                        </div>
                        {% endif %}
            
                        {% if post.image.count > 0 %}
                        <div class="row">
                            {% for img in post.image.all %}
                            <div class="col-md-4 col-xs-12">
                                <img src="{{ img.image.url }}" alt="" class="img-fluid post-image" />
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </a>
                    <hr>
                </div>
            {% endif %}

            <form method="POST" action="{% url 'share-post' post.pk %}" class="d-none" id="{{ post.pk }}">
                {% csrf_token %}
                {{ shareform | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-block btn-outline-dark mt-3">Share the post!</button>
                </div>
            </form>
            
            <a href="{% url 'post' post.pk %}" class="stretched-link">
                {% if post.body %}
                <p class="lead"> {{ post.body }} </p>
                {% endif %}
    
                {% if post.image.count > 0 %}
                <div class="row">
                    {% for img in post.image.all %}
                    <div class="col-md-4 col-xs-12">
                        <img src="{{ img.image.url }}" alt="" class="img-fluid post-image" />
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </a>
            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="btn default-btn">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        <span> {{ post.likes.all.count }} </span>
                    </button>
                </form>
                <form method="POST" action="{% url 'dislike' post.pk %}"> 
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="btn default-btn">
                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                        <span> {{ post.dislikes.all.count }} </span>
                    </button>
                </form>
            </div>
            <hr>
        </div>
    </div>
    {% empty %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h3>No posts available</h3>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}