{% extends 'base.html' %}

{% block title %}Inbox{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 p-5">
            <h3>Your conversation</h3>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12 p-5">
            <form action="{% url 'create-thread' %}" method="GET">
                <button type="submit" class="btn btn-light p-3">Start a conversation</button>
            </form>
        </div>
    </div>

    {% for thread in threads.all %}
    <div class="row mb-3">
        <div class="card col-md-12 p-5 shadow-sm">
            <a href="{% url 'thread' thread.pk %}" class="stretched-link">
                <h5><i class="fa fa-envelope" aria-hidden="true"></i> @{{ thread.user }} - @{{ thread.receiver }}</h5>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}